<form #form="ngForm" (ngSubmit)="onSubmit(form.form)">
    <mat-form-field>
      <input
          matInput
          placeholder="Username"
          required
          [(ngModel)]="user.username"
          name="username"
          #username="ngModel"
      />
      <mat-error *ngIf="username.invalid">Username is required</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        required
        type="text"
        [(ngModel)]="user.password"
        name="password"
        #password="ngModel"
      />
      <mat-error *ngIf="password.invalid">Password is required</mat-error>
    </mat-form-field>
  
    <div>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="form.form.invalid"
      >
        Login
      </button>
    </div>
  </form>